{
  "root": true,
  "extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-console": 0
  }
}
